.home {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    height: 90vh;
    padding-bottom: 3rem;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-header h1 {
    font-family: var(--font-futura-bold);
    font-size: 4.5rem;
}

.line {
    border: 5px solid var(--primary-yellow);
    border-radius: 10px;
    margin-top: -30px;
    width: 75%;
}

.note-container {
    margin-top: var(--spacing-xl);
    background-color: var(--text-white);
    border-radius: var(--button-radius);
    width: 75%;
    height: 500px;
}

.upload-btn {
    width: 55%;
    cursor: pointer;
    background-color: var(--outline);
    border: 3px solid black;
    border-radius: var(--button-radius);
    font-family: var(--font-roboto-flex);
    font-size: 2.5rem;
    padding: 1rem 1rem;
}