.overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; align-items: center; justify-content: center;
}

.modal {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px; right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.formGroup {
    display: flex;
    align-items: center;
    gap: .5rem; 
    margin-top: 1rem;
}

.formGroup label {
    font-family: var(--font-roboto-flex);
    font-size: 1.5rem;
    color: var(--outline);
    min-width: 5px; 
}

.input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 10px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.generateBtn {
    background-color: var(--primary-yellow);
    font-family: var(--font-futura-bold);
    justify-content: center;
    width:60%;
    border: none;
    color: var(--outline);
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 6px;
    cursor: pointer;
}
